 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; 
  color: black;
  background-color: rgba(0, 0, 0, 0.8); 
  animation: fadeIn 0.3s;
  }
  
  .modal {
  position: relative;
  top: 50%;
  left:50%; 
  transform: translate(-50%, -50%);
  width: 52%;
  /* height: 50% */
  }
  
  .close {
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 0px 8px;
    font-weight: 700;
    /* filter:brightness(88%); */
  }
  
  .modal-info{
    display: flex;
    justify-content: space-between;
    
  }
  .image-name{
    display: block;
    align-items: center;
  }
  .modal-image {
    max-width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 60px;

  }
  .modal-name{
    margin-left: 87px;
    font-size: 1.5rem;
    text-decoration: underline;
  }
    .pokemon-data{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 58%;
      height: 90%;
      gap: 10px;
      margin: 30px 0px;
      font-size: 13px;
    }

    .column{

      flex: 1;
      padding:0px 6px;
      box-sizing: border-box;
    }
  .column .row{
  display: flex;
  
  }
  .row{
    line-height: 0px;
  }
    .column span{
      line-height: 38px;
      padding-left: 10px;
      
    }
    .column strong{
      line-height: 30px;
      padding-left: 10px;
      
    }
   .column .row .text{
    line-height: 20px;
   }
    
    
  
  
   



  
   