.pokemon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.load-more-button-div{
 display: flex;
 align-items: center;
 justify-content: center;
}

 .load-more-button {
  margin-top: 2rem;
  border: 0;
  background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  height: 35px;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
}


.load-more-button:hover {
  background-color: #ff0000;
  background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
}


